<nav class="navbar navbar-light navbar-expand-lg">
    <div class="container-fluid"><a class="navbar-brand text-primary" href="#">Magnotia</a><button
            class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-between" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Application Suite</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Data Browser</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Data Visualization</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Data Explorer</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">User Management</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown"
                        aria-expanded="false" href="#">user_name</a>
                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First
                            Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a
                            class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- <tenant-user-default></tenant-user-default> -->
<!-- <tenant-user-new-instance-form></tenant-user-new-instance-form> -->
<tenant-user-add-application></tenant-user-add-application>