<nav class="navbar navbar-light navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" href="/">Magnotia</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" ui-sref="tenantUser.applicationSuite.home"
                        ng-class="{active: stateNow === 'tenantUser.applicationSuite.home'}"
                        ng-click="stateNow='tenantUser.applicationSuite.home'">Application Suite</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" ui-sref="tenantUser.dataBrowser"
                        ng-class="{active: stateNow === 'tenantUser.dataBrowser'}"
                        ng-click="stateNow='tenantUser.dataBrowser'">Data Browser</a></li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" ui-sref="tenantUser.dataVisualization"
                        ng-class="{active: stateNow === 'tenantUser.dataVisualization'}"
                        ng-click="stateNow='tenantUser.dataVisualization'">Data Visualization</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" ui-sref="tenantUser.dataExplorer"
                        ng-class="{active: stateNow === 'tenantUser.dataExplorer'}"
                        ng-click="stateNow='tenantUser.dataExplorer'">Data Explorer</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" ui-sref="tenantUser.userManagement"
                        ng-class="{active: stateNow === 'tenantUser.userManagement'}"
                        ng-click="stateNow='tenantUser.userManagement'">User Management</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <span class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        {{username}}
                    </span>
                    <div class="dropdown-menu" role="menu">
                        <span class="dropdown-item" role="presentation" ng-click="logout()">
                            Logout
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- route: app/tenant-user -->
<div ui-view></div>