<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-xl-4">
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-body">
                    <h6 class="d-flex justify-content-between">Application Suite<span><i class="fas fa-search"
                                style="margin-right: 10px;"></i><i class="fas fa-plus"></i></span></h6>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <tbody>
                                <tr>
                                    <td>Fraud Perspective Data Source<br></td>
                                    <td class="text-right"><i class="far fa-trash-alt"></i></td>
                                </tr>
                                <tr class="text-white bg-primary">
                                    <td>Fraud<br></td>
                                    <td class="text-right"><i class="far fa-trash-alt"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="d-flex justify-content-between">Application Instance<span><i class="fas fa-search"
                                style="margin-right: 10px;"></i><i class="fas fa-plus"></i></span></h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Instance Name</th>
                                    <th>Description<br></th>
                                    <th>Status<br></th>
                                    <th>Commands<br></th>
                                    <th><br></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>M16 Collector</td>
                                    <td>Collect and decode M16 CDR </td>
                                    <td>STOPPED</td>
                                    <td>
                                        <div class="dropdown"><button class="btn btn-primary btn-sm dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false" type="button">Show
                                                Commands</button>
                                            <div class="dropdown-menu" role="menu"><a class="dropdown-item"
                                                    role="presentation" href="#">First Item</a><a class="dropdown-item"
                                                    role="presentation" href="#">Second Item</a><a class="dropdown-item"
                                                    role="presentation" href="#">Third Item</a></div>
                                        </div>
                                    </td>
                                    <td style="width: 90px;"><i class="fas fa-cogs"></i><i class="far fa-eye"
                                            style="margin-left: 10px;"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>