<div class="table-responsive" ng-cloak>
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 30px;"></th>
                <th>Name</th>
                <th>Size</th>
                <th>Last Modified</th>
                <th>Owner</th>
                <th>Group</th>
                <th>Permission</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="dataBrowseDirectory.currentDir !== $ctrl.rootDir" ng-click="upDir()">
                <td><i class="fas fa-arrow-up"></i></td>
                <td colspan="6">
                    <strong>..{{dataBrowseDirectory.currentDir}}</strong>
                </td>
            </tr>
            <tr ng-if="dataBrowseDirectory.currentDir === $ctrl.rootDir">
                <td></td>
                <td colspan="6">
                    <strong>.{{dataBrowseDirectory.currentDir}}</strong>
                </td>
            </tr>
            <tr ng-repeat="fileDetail in dataBrowseDirectory.fileDetails track by $index"
                ng-click="onClick(fileDetail)">
                <td>
                    <i class="far fa-file" ng-if="fileDetail.type === 'FILE'"></i>
                    <i class="far fa-folder" ng-if="fileDetail.type === 'DIRECTORY'"></i>
                </td>
                <td>{{fileDetail.fileName}}</td>
                <td><span ng-if="fileDetail.byteSize !== 0">{{fileDetail.byteSize}}</span></td>
                <td>{{fileDetail.lastModified}}</td>
                <td>{{fileDetail.owner}}</td>
                <td>{{fileDetail.group}}</td>
                <td>{{fileDetail.permission}}</td>
            </tr>
        </tbody>
    </table>
</div>