<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 30px;"></th>
                <th>Name</th>
                <th>Size</th>
                <th>Last Modified</th>
                <th>Owner</th>
                <th>Group</th>
                <th>Permission</th>
                <th class="text-right" ng-show="$ctrl.addFileOrNewFolderStatus">
                    <i class="material-icons">file_upload</i>
                    <i class="material-icons" ng-click="addFolder()">create_new_folder</i>
                </th>
                <th ng-hide="$ctrl.addFileOrNewFolderStatus"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="dataBrowseDirectory.currentDir !== $ctrl.rootDir" ng-click="upDir()">
                <td><i class="fas fa-arrow-up"></i></td>
                <td colspan="7">
                    <strong>..{{dataBrowseDirectory.currentDir}}</strong>
                </td>
            </tr>
            <tr ng-if="(dataBrowseDirectory.currentDir === $ctrl.rootDir) && !$ctrl.backRootStatus">
                <td></td>
                <td colspan="7">
                    <strong>.{{dataBrowseDirectory.currentDir}}</strong>
                </td>
            </tr>
            <tr ng-if="(dataBrowseDirectory.currentDir === $ctrl.rootDir) && $ctrl.backRootStatus"
                ng-click="$ctrl.onBackRoot()">
                <td><i class="fas fa-arrow-up"></i></td>
                <td colspan="7">
                    <strong>..{{dataBrowseDirectory.currentDir}}</strong>
                </td>
            </tr>
            <tr ng-show="formAddFolderShow">
                <td>
                    <i class="far fa-folder"></i>
                </td>
                <td colspan="7">
                    <form name="formNewFolder" class="input-group input-group-sm" ng-submit="saveFolder(folderName)">
                        <input type="text" name="folderName" ng-attr-id="{{'first-input-'+id}}" class="form-control"
                            placeholder="Folder Name" ng-model="folderName" required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Save</button>
                            <button class="btn btn-danger" type="reset"
                                ng-click="formAddFolderShow=false">Cancel</button>
                        </div>
                    </form>
                </td>
            </tr>
            <tr ng-repeat="fileDetail in dataBrowseDirectory.fileDetails track by $index">
                <td ng-click="onClick(fileDetail)">
                    <i class="far fa-file" ng-if="fileDetail.type === 'FILE'"></i>
                    <i class="far fa-folder" ng-if="fileDetail.type === 'DIRECTORY'"></i>
                </td>
                <td ng-click="onClick(fileDetail)">{{fileDetail.fileName}}</td>
                <td ng-click="onClick(fileDetail)"><span
                        ng-if="fileDetail.byteSize !== 0">{{fileDetail.byteSize}}</span></td>
                <td ng-click="onClick(fileDetail)">{{fileDetail.lastModified}}</td>
                <td ng-click="onClick(fileDetail)">{{fileDetail.owner}}</td>
                <td ng-click="onClick(fileDetail)">{{fileDetail.group}}</td>
                <td ng-click="onClick(fileDetail)">{{fileDetail.permission}}</td>
                <td class="text-right">
                    <i class="material-icons" ng-if="fileDetail.type === 'FILE'"
                        ng-click="download(fileDetail)">file_download</i>
                </td>
            </tr>
        </tbody>
    </table>
</div>