<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 30px;"></th>
                <th>Name</th>
                <th>Size</th>
                <th>Last Modified</th>
                <th>Owner</th>
                <th>Group</th>
                <th>Permission</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="dataBrowseDirectory.currentDir !== $ctrl.rootDir" ng-click="upDir()">
                <td><i class="fas fa-arrow-up"></i></td>
                <td colspan="6">
                    <strong>..{{dataBrowseDirectory.currentDir}}</strong>
                </td>
            </tr>
            <tr ng-if="dataBrowseDirectory.currentDir === $ctrl.rootDir">
                <td></td>
                <td colspan="7">
                    <strong>.{{dataBrowseDirectory.currentDir}}</strong>
                </td>
            </tr>
            <tr ng-repeat="fileDetail in dataBrowseDirectory.fileDetails track by $index">
                <td ng-click="onClick(fileDetail)">
                    <i class="far fa-file" ng-if="fileDetail.type === 'FILE'"></i>
                    <i class="far fa-folder" ng-if="fileDetail.type === 'DIRECTORY'"></i>
                </td>
                <td ng-click="onClick(fileDetail)">{{fileDetail.fileName}}</td>
                <td ng-click="onClick(fileDetail)"><span
                        ng-if="fileDetail.byteSize !== 0">{{fileDetail.byteSize}}</span></td>
                <td ng-click="onClick(fileDetail)">{{fileDetail.lastModified}}</td>
                <td ng-click="onClick(fileDetail)">{{fileDetail.owner}}</td>
                <td ng-click="onClick(fileDetail)">{{fileDetail.group}}</td>
                <td ng-click="onClick(fileDetail)">{{fileDetail.permission}}</td>
                <td class="text-right">
                    <i class="fas fa-download" ng-if="fileDetail.type === 'FILE'" ng-click="download(fileDetail)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>