<div class="card" style="margin-right: 15px;margin-left: 15px;">
    <div class="card-body">
        <h4 class="card-title">
            <i class="fas fa-arrow-left" style="margin-right: 20px;"
                ui-sref="tenantUser.applicationSuite.home.applicationInstance({applicationSuiteId})"></i>
            New Instance
        </h4>
        <h6 class="text-muted card-subtitle mb-4" style="padding-left: 50px">
            {{applicationSuite.applicationSuiteName}}
        </h6>
        <form name="formNewInstance" ng-submit="save(applicationNow, instance, properties)">
            <label>Select Application <search filter="filterApplicationList" position="right"></search></label>
            <div class="table-responsive" style="font-size: 14px">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Application Name<br></th>
                            <th>Description<br></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="cursor: pointer;"
                            ng-repeat="_applicationList in applicationList | filter: filterApplicationList || applicationNow track by $index"
                            ng-class="{'bg-primary': applicationNow === _applicationList}"
                            ng-click="setApplicationNow(_applicationList)"
                            ng-style="{color: applicationNow === _applicationList? 'white': ''}">
                            <td>{{_applicationList.name}}</td>
                            <td>{{_applicationList.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary" style="margin-bottom: 20px" type="button" ng-show="applicationNow"
                ng-click="applicationNow=null; instance=null; properties=null;">
                Reselect Application
            </button>
            <div ng-show="applicationNow">
                <label for="instanceName">Instance Name</label>
                <input id="instanceName" name="instanceName" class="form-control"
                    ng-class="{'is-valid':formNewInstance.instanceName.$valid}" type="text" placeholder="Instance Name"
                    ng-model="instance.name" required>
                <label for="description">Description</label>
                <input id="description" name="description" class="form-control"
                    ng-class="{'is-valid':formNewInstance.description.$valid}" type="text" placeholder="Description"
                    ng-model="instance.description" required>
                <div ng-repeat="property in properties track by $index">
                    <label ng-attr-for="{{property.propertyName}}">{{property.propertyName}}</label>
                    <input ng-attr-id="{{property.propertyName}}" ng-attr-name="{{property.propertyName}}"
                        class="form-control" ng-class="{'is-valid':formNewInstance[property.propertyName].$valid}"
                        ng-if="!property.propertyFormat || property.propertyFormat == 'text' || property.propertyFormat == 'password'"
                        type="{{property.propertyFormat}}" placeholder="{{property.propertyName}}"
                        ng-model="property.propertyValue" required>
                    <textarea ng-attr-id="{{property.propertyName}}" ng-attr-name="{{property.propertyName}}"
                        class="form-control" ng-class="{'is-valid':formNewInstance[property.propertyName].$valid}"
                        placeholder="{{property.propertyName}}"
                        ng-if="!property.propertyFormat || property.propertyFormat == 'area'"
                        ng-model="property.propertyValue" required></textarea>
                    <select ng-attr-id="{{property.propertyName}}" ng-attr-name="{{property.propertyName}}"
                        class="form-control" ng-class="{'is-valid':formNewInstance[property.propertyName].$valid}"
                        ng-if="property.propertyFormat && property.propertyFormat == 'select'"
                        ng-model="property.propertyValue" required>
                        <option ng-repeat="key in property.selection" ng-value="key">{{key}}</option>
                    </select>
                </div>
                <div style="margin-top: 30px;">
                    <button class="btn btn-primary" type="submit"
                        style="padding-right: 40px;padding-left: 40px;margin-right: 10px;">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>