<div role="dialog" tabindex="-1" class="modal fade" ng-attr-id="{{'modal-'+id}}"
    style="font-size: initial; font-weight: initial; line-height: initial; color: initial; text-align: initial;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">{{$ctrl.title}}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div ng-attr-id="{{'highcharts-'+id}}"></div>
            </div>
        </div>
    </div>
</div>