<div class="card" style="margin-right: 15px;margin-left: 15px;">
    <div class="card-body">
        <h4 class="card-title">
            <i class="fas fa-arrow-left" style="margin-right: 20px;"
                ui-sref="tenantUser.applicationSuite.home.applicationInstance({applicationSuiteId})"></i>
            Reconfigure Instance
        </h4>
        <h6 class="text-muted card-subtitle mb-4" style="padding-left: 50px">
            {{applicationSuite.applicationSuiteName}}
        </h6>
        <form name="formUpdateApplicationInstance" ng-submit="update(instance, properties)">
            <label for="instanceName">Instance Name</label>
            <input id="instanceName" name="instanceName" class="form-control"
                ng-class="{'is-valid':formUpdateApplicationInstance.instanceName.$valid}" type="text"
                placeholder="Instance Name" ng-model="instance.name" required>
            <label for="description">Description</label>
            <input id="description" name="description" class="form-control"
                ng-class="{'is-valid':formUpdateApplicationInstance.description.$valid}" type="text"
                placeholder="Description" ng-model="instance.description" required>
            <div ng-repeat="property in properties track by $index">
                <label ng-attr-for="{{property.propertyName}}">{{property.propertyName}}</label>
                <span ng-if="property.propertyName !== 'Output Directory'">
                    <input ng-attr-id="{{property.propertyName}}" ng-attr-name="{{property.propertyName}}"
                        class="form-control"
                        ng-class="{'is-valid':formUpdateApplicationInstance[property.propertyName].$valid}"
                        ng-if="!property.propertyFormat || property.propertyFormat == 'text' || property.propertyFormat == 'password'"
                        type="{{property.propertyFormat}}" placeholder="{{property.propertyName}}"
                        ng-model="property.propertyValue" required>
                    <textarea ng-attr-id="{{property.propertyName}}" ng-attr-name="{{property.propertyName}}"
                        class="form-control"
                        ng-class="{'is-valid':formUpdateApplicationInstance[property.propertyName].$valid}"
                        placeholder="{{property.propertyName}}"
                        ng-if="!property.propertyFormat || property.propertyFormat == 'area'"
                        ng-model="property.propertyValue" required></textarea>
                    <select ng-attr-id="{{property.propertyName}}" ng-attr-name="{{property.propertyName}}"
                        class="form-control"
                        ng-class="{'is-valid':formUpdateApplicationInstance[property.propertyName].$valid}"
                        ng-if="property.propertyFormat && property.propertyFormat == 'select'"
                        ng-model="property.propertyValue" required>
                        <option ng-repeat="key in property.selection" ng-value="key">{{key}}</option>
                    </select>
                </span>
                <div class="input-group" ng-if="property.propertyName === 'Output Directory'">
                    <input ng-attr-id="{{property.propertyName}}" ng-attr-name="{{property.propertyName}}"
                        class="form-control"
                        ng-class="{'is-valid':formUpdateApplicationInstance[property.propertyName].$valid}"
                        ng-if="!property.propertyFormat || property.propertyFormat == 'text' || property.propertyFormat == 'password'"
                        type="{{property.propertyFormat}}" placeholder="{{property.propertyName}}"
                        ng-model="property.propertyValue" required>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" ng-click="selectFolder($index)">Select
                            Folder</button>
                    </div>
                </div>
            </div>
            <div style="margin-top: 30px;">
                <button class="btn btn-primary" type="submit"
                    style="padding-right: 40px;padding-left: 40px;margin-right: 10px;">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>