<div class="card" style="margin-right: 15px;margin-left: 15px;">
    <div class="card-body">
        <h4 class="card-title">
            <i class="fas fa-arrow-left" style="margin-right: 20px;"
                ui-sref="tenantUser.applicationSuite.home.applicationInstance({applicationSuiteId})"></i>
            Reconfigure Instance
        </h4>
        <h6 class="text-muted card-subtitle mb-4" style="padding-left: 50px">
            {{applicationSuite.applicationSuiteName}}
        </h6>
        <form>
            <label>Instance Name</label>
            <input class="form-control" type="text" placeholder="Instance Name" ng-model="instance.name">
            <label>Description</label>
            <input class="form-control" type="text" placeholder="Description" ng-model="instance.description">
            <div ng-repeat="property in properties track by $index">
                <label>{{property.propertyName}}</label>
                <input class="form-control"
                    ng-if="!property.propertyFormat || property.propertyFormat == 'text' || property.propertyFormat == 'password'"
                    type="{{property.propertyFormat}}" placeholder="{{property.propertyName}}"
                    ng-model="property.propertyValue">
                <textarea placeholder="{{property.propertyName}}"
                    ng-if="!property.propertyFormat || property.propertyFormat == 'area'"
                    ng-model="property.propertyValue"></textarea>
                <select class="form-control" ng-if="property.propertyFormat && property.propertyFormat == 'select'"
                    ng-model="property.propertyValue">
                    <option ng-repeat="key in property.selection" ng-value="key">{{key}}</option>
                </select>
            </div>
            <div style="margin-top: 30px;">
                <button class="btn btn-primary" type="button"
                    style="padding-right: 40px;padding-left: 40px;margin-right: 10px;"
                    ng-click="update(instance, properties)">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>