<div class="card" style="margin-right: 15px;margin-left: 15px;">
    <div class="card-body">
        <h4 class="card-title d-flex justify-content-between">
            Data Explorer
            <span>
                <div class="dropdown">
                    <i class="fas fa-plus" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></i>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <button class="dropdown-item" role="presentation" ng-click="openFileOrFolder('FILE')">
                            Open File
                        </button>
                        <button class="dropdown-item" role="presentation" ng-click="openFileOrFolder('DIRECTORY')">
                            Open Folder
                        </button>
                    </div>
                </div>
            </span>
        </h4>
        <form name="formDataExplorer" ng-submit="loadAll(data)">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Directory</th>
                            <th>Format</th>
                            <th>Table Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="_data in data track by $index">
                            <td>{{_data.path}}</td>
                            <td>
                                <select class="form-control" ng-attr-name="fileType-{{$index}}"
                                    ng-class="{'is-valid':formDataExplorer['fileType-'+$index].$valid}"
                                    ng-model="_data['fileType']" required>
                                    <option value="">---Please select---</option>
                                    <option value="json">JSON</option>
                                    <option value="csv">CSV</option>
                                    <option value="parquet">Parquet</option>
                                    <option value="orc">ORC</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" ng-attr-name="tableName-{{$index}}"
                                    ng-class="{'is-valid':formDataExplorer['tableName-'+$index].$valid}"
                                    ng-model="_data['tableName']" required>
                            </td>
                            <td class="text-right">
                                <i class="far fa-trash-alt" ng-click="delete($index)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <button class="btn btn-primary" type="submit" ng-hide="data.length === 0">Load All</button>
            </div>
        </form>
    </div>
</div>
<div ng-attr-id="{{'data-output-container-'+id}}" class="card mt-3" style="margin-right: 15px;margin-left: 15px;" ng-show="canQuery">
    <div class="card-body">
        <h4 class="card-title">Input Query</h4>
        <form name="formQueryExplorer" ng-submit="runQuery(query)">
            <input type="text" name="query" class="form-control mb-1"
                ng-class="{'is-valid':formQueryExplorer.query.$valid}"
                placeholder="Query. Example = 'select * from table1'" ng-model="query" required>
            <button class="btn btn-primary" type="submit">Run Query</button>
            <button class="btn btn-danger" type="reset" ng-click="dataOutput=null">Reset</button>
        </form>
        <div ng-attr-id="{{'data-output-menu-'+id}}" class="mt-5" ng-show="dataOutput">
            <h5>Result</h5>
            <ul class="nav nav-tabs mb-3">
                <li class="nav-item">
                    <i class="fas fa-table nav-link" ng-class="{active: dataOutputType === 'table'}"
                        ng-click="dataOutputType = 'table'"></i>
                </li>
                <li class="nav-item">
                    <i class="fas fa-chart-line nav-link" ng-class="{active: dataOutputType === 'line'}"
                        ng-click="dataOutputType = 'line'"></i>
                </li>
                <li class="nav-item">
                    <i class="fas fa-chart-bar nav-link" ng-class="{active: dataOutputType === 'column'}"
                        ng-click="dataOutputType = 'column'"></i>
                </li>
            </ul>
            <div ng-show="dataOutputType === 'table'">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th ng-repeat="(key, value) in dataOutput[0] track by $index">{{value}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tr in dataOutput track by $index" ng-show="$index>0">
                                <td ng-repeat="(key, value) in tr track by $index">{{value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-hide="dataOutputType === 'table'">
                <chart data="dataOutput" chart-type="line" ng-show="dataOutputType === 'line'"></chart>
                <chart data="dataOutput" chart-type="column" ng-show="dataOutputType === 'column'"></chart>
            </div>
        </div>
    </div>
</div>
<loading show="showLoading"></loading>