<style>
    .dropdown-container {}

    @media (min-width: 768px) {
        .dropdown-container {
            overflow: visible;
        }
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-xl-4">
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-body">
                    <h6 class="d-flex justify-content-between">
                        Application Suite
                        <span>
                            <search filter="filterApplicationSuiteList" position="left"></search>
                            <tenant-user-application-suite-modal-new-application-suite
                                refresh-application-suite-list="refreshApplicationSuiteList()">
                            </tenant-user-application-suite-modal-new-application-suite>
                        </span>
                    </h6>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm" style="cursor: pointer;">
                            <tbody>
                                <tr ng-repeat="applicationSuite in applicationSuiteList | filter: filterApplicationSuiteList track by $index"
                                    ng-class="{'bg-primary': applicationSuite.id === applicationSuiteIdNow}"
                                    ng-style="{color: applicationSuite.id === applicationSuiteIdNow? 'white': ''}">
                                    <td ng-click="setApplicationSuiteIdNow(applicationSuite.id)">
                                        {{applicationSuite.applicationSuiteName}}
                                    </td>
                                    <td class="text-right">
                                        <i class="far fa-trash-alt"
                                            ng-click="deleteApplicationSuite(applicationSuite)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- route: application-suite -->
            <div ui-view></div>
        </div>
    </div>
</div>